{
    "openapi": "3.0.0",
    "info": {
        "title": "Kledo Task API",
        "description": "Dokumentasi API sistem penugasan Kledo menggunakan Laravel 12 + Sanctum + L5-Swagger",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User Login",
                "description": "Login and get token",
                "operationId": "d7fc23a59f531c9476998d42a2d57067",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "manager@email.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "rahasia"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "qwertyuiopasdfgh"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid credential",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Email or password is not regiestered in the system."
                                        },
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Email or password is not regiestered in the system."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register user",
                "description": "Register new user.",
                "operationId": "b579ca1814b924f7b162c0b08b76cd0d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "role_id",
                                    "manager_id"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "User name (100 characters max)",
                                        "type": "string",
                                        "maxLength": 100,
                                        "example": "Manager"
                                    },
                                    "email": {
                                        "description": "User email",
                                        "type": "string",
                                        "format": "email",
                                        "example": "manager@email.com"
                                    },
                                    "password": {
                                        "description": "User Password (100 characters max)",
                                        "type": "string",
                                        "maxLength": 100,
                                        "example": "rahasia"
                                    },
                                    "role_id": {
                                        "description": "User role id",
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "manager_id": {
                                        "description": "User manager id",
                                        "type": "integer",
                                        "example": 5
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Register success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Register Success"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 18
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Manager"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "manager@email.com"
                                                },
                                                "role_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "manager_id": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-11-13T01:35:43.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-11-13T01:35:43.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation fail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "name": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The name field is required."
                                                    }
                                                },
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The email has already been taken."
                                                    }
                                                },
                                                "password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The password field is required."
                                                    }
                                                },
                                                "role_id": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The selected role id is invalid."
                                                    }
                                                },
                                                "manager_id": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The selected manager id is invalid or not a Manager."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/tasks": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "Create task",
                "description": "Create task endpoint",
                "operationId": "b501d3c127bdc31918c636cfb6637b57",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "description"
                                ],
                                "properties": {
                                    "title": {
                                        "description": "Task title, (50 characters max)",
                                        "type": "string",
                                        "maxLength": 50,
                                        "example": "Cuci AC ruang kelas"
                                    },
                                    "description": {
                                        "description": "Task desctription, (2000 characters max)",
                                        "type": "string",
                                        "maxLength": 2000,
                                        "example": "Cuci seluruh AC ruang kelas, dari lantai 1 sampai 10."
                                    },
                                    "assignee_id": {
                                        "description": "Assignee id. \n *                 - Jika Manager: hanya boleh menugaskan Staff yang menjadi bawahannya.\n *                 - Jika Staff: hanya boleh menugaskan dirinya sendiri.",
                                        "type": "integer",
                                        "example": 24,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success create task",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success Create Task"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 26
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Cuci AC ruang kelas"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Cuci seluruh AC ruang kelas, dari lantai 1 sampai 10."
                                                },
                                                "status_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "creator_id": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "assignee_id": {
                                                    "type": "integer",
                                                    "example": 24,
                                                    "nullable": true
                                                },
                                                "report": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-11-13T01:01:52.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-11-13T01:01:52.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation fail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "title": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The title field is required."
                                                    }
                                                },
                                                "description": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The description field is required."
                                                    }
                                                },
                                                "assignee_id": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The selected assignee id is invalid or not your staff."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/tasks/{id}": {
            "get": {
                "tags": [
                    "Task"
                ],
                "summary": "Get Task Detail",
                "description": "Task detail endpoint",
                "operationId": "95193326e835e060d4ab51cbf7636831",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Task id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 25
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Task detail retrieving success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 25
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Cuci AC ruang kelas"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "Cuci seluruh AC ruang kelas, dari lantai 1 sampai 10."
                                        },
                                        "status_id": {
                                            "type": "integer",
                                            "example": 2
                                        },
                                        "status": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Doing"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "creator_id": {
                                            "type": "integer",
                                            "example": 24
                                        },
                                        "creator": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Manager"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "assignee_id": {
                                            "type": "integer",
                                            "example": 24
                                        },
                                        "assignee": {
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "example": "Manager"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "report": {
                                            "type": "string",
                                            "example": "Seluruh AC ruang kelas asdis mengisi freon."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Task not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Fail"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Task not found"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Task"
                ],
                "summary": "Update Task",
                "description": "Endpoint updating task",
                "operationId": "4058433d9b2e49ca1f5c91efe41b9d7c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Task id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 26
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "description"
                                ],
                                "properties": {
                                    "title": {
                                        "description": "Task title, (50 characters max)",
                                        "type": "string",
                                        "maxLength": 50,
                                        "example": "Cuci AC ruang kelas ssss"
                                    },
                                    "description": {
                                        "description": "Task description, (2000 characters max)",
                                        "type": "string",
                                        "maxLength": 2000,
                                        "example": "Cuci seluruh AC rai 10."
                                    },
                                    "assignee_id": {
                                        "description": "Assignee id. \n *                 - Manager: hanya boleh assign ke staff miliknya.\n *                 - Staff: hanya boleh assign ke dirinya sendiri.",
                                        "type": "integer",
                                        "example": 24,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success Create Task",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success Update Task"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 26
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Cuci AC ruang kelas ssss"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Cuci seluruh AC rai 10."
                                                },
                                                "status_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "creator_id": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "assignee_id": {
                                                    "type": "integer",
                                                    "example": 24,
                                                    "nullable": true
                                                },
                                                "report": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-11-13T01:01:52.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-11-13T02:11:28.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Task not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Fail"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Task not found"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation fail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "assignee_id": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "assignee_id harus merupakan staff dari manager yang sedang login."
                                                    }
                                                },
                                                "assignee_id_prohibited": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "staff hanya boleh assign ke dirinya sendiri."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/tasks/{id}/report": {
            "patch": {
                "tags": [
                    "Task"
                ],
                "summary": "Update Task Report",
                "description": "Update task report endpoint",
                "operationId": "5100e0cccf96e297b01de94e91b471c8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Task id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 26
                        }
                    }
                ],
                "requestBody": {
                    "description": "report (5000 characters max)",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "report"
                                ],
                                "properties": {
                                    "report": {
                                        "description": "Isi laporan pekerjaan, maksimal 5000 karakter",
                                        "type": "string",
                                        "maxLength": 5000,
                                        "example": "Seluruh AC ruang kelas asdis mengisi freon."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success update task report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success update task report"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 26
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Cuci AC ruang kelas ssss"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Cuci seluruh AC rai 10."
                                                },
                                                "status_id": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "creator_id": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "assignee_id": {
                                                    "type": "integer",
                                                    "example": 24
                                                },
                                                "report": {
                                                    "type": "string",
                                                    "example": "Seluruh AC ruang kelas asdis mengisi freon."
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-11-13T01:01:52.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-11-13T03:03:52.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation fail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Report hanya dapat diisi saat status Doing."
                                                },
                                                "errors": {
                                                    "properties": {
                                                        "status": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string",
                                                                "example": "Report hanya dapat diisi saat status Doing."
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "example": "Hanya pembuat atau pelaksana yang dapat mengisi report."
                                                },
                                                "errors": {
                                                    "properties": {
                                                        "permission": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string",
                                                                "example": "Hanya pembuat atau pelaksana yang dapat mengisi report."
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/tasks/{id}/status": {
            "patch": {
                "tags": [
                    "Task"
                ],
                "summary": "Update Task Status",
                "description": "Update task status.",
                "operationId": "31ef6e1c306e89f3af249c866b45a1a7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Task id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 26
                        }
                    }
                ],
                "requestBody": {
                    "description": "Status id",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status_id"
                                ],
                                "properties": {
                                    "status_id": {
                                        "description": "Status id",
                                        "type": "integer",
                                        "example": 2
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success update task status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success update task status"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 26
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Cuci AC ruang kelas ssss"
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "Cuci seluruh AC rai 10."
                                                },
                                                "status_id": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "creator_id": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "assignee_id": {
                                                    "type": "integer",
                                                    "example": 24
                                                },
                                                "report": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-11-13T01:01:52.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-11-13T02:40:38.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation fail",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Status dari 'Doing' tidak dapat diubah menjadi 'Doing'."
                                        },
                                        "errors": {
                                            "properties": {
                                                "status_id": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Status dari 'Doing' tidak dapat diubah menjadi 'Doing'."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "Authentication"
        },
        {
            "name": "Task",
            "description": "Task"
        }
    ]
}